# K-NN From Scratch

Nemshan 

**The KNN task can be broken down into 3 primary tasks:**
 - a)	Calculate the distance between any two points
    - i.	continuous features use Euclidean distance
    - ii.	categorical features use Jaccard distance
 - b)	Find the nearest neighbors based on these pairwise distances
 - c)	Majority vote on a class labels based on the nearest neighbor list

In [28]:
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from string import ascii_letters
from Madefunctions import*

In [29]:
dftitanic = pd.read_csv("titanic.csv")
cleandf = preprocess(dftitanic)

file dimensions:  (1309, 14)

Columns in dataframe:  ['pclass', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest', 'survived']
Number of NA in  pclass :  0
Number of NA in  name :  0
Number of NA in  sex :  0
Number of NA in  age :  264
Number of NA in  sibsp :  0
Number of NA in  parch :  0
Number of NA in  ticket :  0
Number of NA in  fare :  1
Number of NA in  cabin :  1014
Number of NA in  embarked :  2
Number of NA in  boat :  823
Number of NA in  body :  1188
Number of NA in  home.dest :  564
Number of NA in  survived :  0

DROP COLUMNS WITH MORE THAN 30 PERCENT NA
4  columns were dropped

 ['pclass', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket', 'fare', 'embarked', 'survived']

The new dimension:  (1309, 10)

DROP ROWS WITH NA

Clean dataframe dimension  1042  rows and 10  columns

In [30]:
y, x = label(cleandf)

Columns in dataframe:  ['pclass', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket', 'fare', 'embarked', 'survived']
What is your response variable?: survived

In [31]:
y = pd.DataFrame(y)

In [32]:
x.head()

,pclass,name,sex,age,sibsp,parch,ticket,fare,embarked
0,1,"Allen, Miss. Elisabeth Walton",female,29.0,0,0,24160,211.3375,S
2,1,"Allison, Miss. Helen Loraine",female,2.0,1,2,113781,151.5500,S
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0,1,2,113781,151.5500,S
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0,1,2,113781,151.5500,S
5,1,"Anderson, Mr. Harry",male,48.0,0,0,19952,26.5500,S

In [33]:
y.head()

   survived
0         1
2         0
3         0
4         0
5         1

In [34]:
con = splitter_con(x)

In [35]:
con.head()

    age      fare
0  29.0  211.3375
2   2.0  151.5500
3  30.0  151.5500
4  25.0  151.5500
5  48.0   26.5500

In [36]:
cat = splitter_cat(x)

In [37]:
cat = cat.drop("name",axis = 1)

In [38]:
cat = cat.drop("ticket",axis = 1)

In [39]:
cat.head()

   pclass     sex  sibsp  parch embarked
0       1  female      0      0        S
2       1  female      1      2        S
3       1    male      1      2        S
4       1  female      1      2        S
5       1    male      0      0        S

In [40]:
norm_con = normalize(con)
cat = removeUcol(cat)
cat.head()

   pclass     sex  sibsp  parch embarked
0       1  female      0      0        S
2       1  female      1      2        S
3       1    male      1      2        S
4       1  female      1      2        S
5       1    male      0      0        S

In [42]:
norm_con.head()

      age     fare
0  0.3625  0.41250
1  0.0250  0.29581
2  0.3750  0.29581
3  0.3125  0.29581
4  0.6000  0.05182

In [43]:
cat = relabel(cat)

What feature do you want to relabel?: parch
Matched feature:  parch
This is s:  [0, 1, 2, 3, 4, 5, 6]
This is the length:  7
These are the random letters:  ['H', 'r', 'w', 'c', 'X', 'C', 'm']

In [44]:
cat = setCat(cat)

In [46]:
catset = list(cat["sets"])

In [50]:
norm_con["Jsets"] = catset

In [51]:
label = list(y["survived"])

In [52]:
norm_con["label"] = label

In [53]:
norm_con.head()

      age     fare                 Jsets  label
0  0.3625  0.41250  {0, 1, female, S, H}      1
1  0.0250  0.29581     {1, w, female, S}      0
2  0.3750  0.29581       {1, w, male, S}      0
3  0.3125  0.29581     {1, w, female, S}      0
4  0.6000  0.05182    {0, 1, S, male, H}      1

In [62]:
#train test split
train, test = traintestsplit(norm_con)
print(train.shape)
print(test.shape)

(833, 4)
(209, 4)

In [63]:
#run the gower function to classify and check accuracy
cl = Gower(train, test)
accuracy(cl)

What is your k?3
1 out of  209 :   Actual:  1 predicted:  0
2 out of  209 :   Actual:  1 predicted:  0
3 out of  209 :   Actual:  0 predicted:  1
4 out of  209 :   Actual:  0 predicted:  1
5 out of  209 :   Actual:  0 predicted:  0
6 out of  209 :   Actual:  0 predicted:  0
7 out of  209 :   Actual:  0 predicted:  1
8 out of  209 :   Actual:  0 predicted:  1
9 out of  209 :   Actual:  1 predicted:  0
10 out of  209 :   Actual:  0 predicted:  0
11 out of  209 :   Actual:  0 predicted:  0
12 out of  209 :   Actual:  0 predicted:  1
13 out of  209 :   Actual:  0 predicted:  0
14 out of  209 :   Actual:  1 predicted:  0
15 out of  209 :   Actual:  0 predicted:  1
16 out of  209 :   Actual:  0 predicted:  1
17 out of  209 :   Actual:  1 predicted:  0
18 out of  209 :   Actual:  0 predicted:  0
19 out of  209 :   Actual:  1 predicted:  0
20 out of  209 :   Actual:  0 predicted:  0
21 out of  209 :   Actual:  1 predicted:  0
22 out of  209 :   Actual:  1 predicted:  0
23 out of  209 :   Actual:  0 predicted:  0
24 out of  209 :   Actual:  0 predicted:  1
25 out of  209 :   Actual:  0 predicted:  0
26 out of  209 :   Actual:  0 predicted:  0
27 out of  209 :   Actual:  0 predicted:  0
28 out of  209 :   Actual:  0 predicted:  1
29 out of  209 :   Actual:  1 predicted:  0
30 out of  209 :   Actual:  0 predicted:  0
31 out of  209 :   Actual:  0 predicted:  0
32 out of  209 :   Actual:  0 predicted:  0
33 out of  209 :   Actual:  1 predicted:  0
34 out of  209 :   Actual:  1 predicted:  0
35 out of  209 :   Actual:  0 predicted:  0
36 out of  209 :   Actual:  1 predicted:  1
37 out of  209 :   Actual:  0 predicted:  1
38 out of  209 :   Actual:  0 predicted:  1
39 out of  209 :   Actual:  1 predicted:  1
40 out of  209 :   Actual:  0 predicted:  0
41 out of  209 :   Actual:  0 predicted:  0
42 out of  209 :   Actual:  0 predicted:  0
43 out of  209 :   Actual:  0 predicted:  0
44 out of  209 :   Actual:  0 predicted:  0
45 out of  209 :   Actual:  1 predicted:  0
46 out of  209 :   Actual:  1 predicted:  1
47 out of  209 :   Actual:  0 predicted:  1
48 out of  209 :   Actual:  0 predicted:  0
49 out of  209 :   Actual:  0 predicted:  0
50 out of  209 :   Actual:  0 predicted:  0
51 out of  209 :   Actual:  1 predicted:  0
52 out of  209 :   Actual:  1 predicted:  0
53 out of  209 :   Actual:  0 predicted:  0
54 out of  209 :   Actual:  1 predicted:  1
55 out of  209 :   Actual:  0 predicted:  1
56 out of  209 :   Actual:  0 predicted:  1
57 out of  209 :   Actual:  1 predicted:  0
58 out of  209 :   Actual:  0 predicted:  0
59 out of  209 :   Actual:  1 predicted:  0
60 out of  209 :   Actual:  0 predicted:  0
61 out of  209 :   Actual:  0 predicted:  0
62 out of  209 :   Actual:  0 predicted:  0
63 out of  209 :   Actual:  1 predicted:  1
64 out of  209 :   Actual:  1 predicted:  1
65 out of  209 :   Actual:  0 predicted:  1
66 out of  209 :   Actual:  0 predicted:  0
67 out of  209 :   Actual:  0 predicted:  1
68 out of  209 :   Actual:  1 predicted:  1
69 out of  209 :   Actual:  0 predicted:  1
70 out of  209 :   Actual:  1 predicted:  0
71 out of  209 :   Actual:  1 predicted:  1
72 out of  209 :   Actual:  1 predicted:  0
73 out of  209 :   Actual:  0 predicted:  0
74 out of  209 :   Actual:  0 predicted:  0
75 out of  209 :   Actual:  1 predicted:  1
76 out of  209 :   Actual:  0 predicted:  0
77 out of  209 :   Actual:  0 predicted:  0
78 out of  209 :   Actual:  0 predicted:  0
79 out of  209 :   Actual:  1 predicted:  0
80 out of  209 :   Actual:  0 predicted:  0
81 out of  209 :   Actual:  1 predicted:  0
82 out of  209 :   Actual:  0 predicted:  0
83 out of  209 :   Actual:  0 predicted:  1
84 out of  209 :   Actual:  1 predicted:  0
85 out of  209 :   Actual:  0 predicted:  1
86 out of  209 :   Actual:  0 predicted:  0
87 out of  209 :   Actual:  0 predicted:  1
88 out of  209 :   Actual:  0 predicted:  0
89 out of  209 :   Actual:  0 predicted:  1
90 out of  209 :   Actual:  0 predicted:  0
91 out of  209 :   Actual:  1 predicted:  1
92 out of  209 :   Actual:  0 predicted:  1
93 out of  209 :   Actual:  1 predicted:  0
94 out of  209 :   Actual:  1 predicted:  1
95 out of  209 :   Actual:  1 predicted:  1
96 out of  209 :   Actual:  1 predicted:  1
97 out of  209 :   Actual:  1 predicted:  0
98 out of  209 :   Actual:  1 predicted:  0
99 out of  209 :   Actual:  1 predicted:  0
100 out of  209 :   Actual:  0 predicted:  0
101 out of  209 :   Actual:  0 predicted:  0
102 out of  209 :   Actual:  0 predicted:  0
103 out of  209 :   Actual:  1 predicted:  1
104 out of  209 :   Actual:  1 predicted:  1
105 out of  209 :   Actual:  0 predicted:  1
106 out of  209 :   Actual:  1 predicted:  0
107 out of  209 :   Actual:  1 predicted:  1
108 out of  209 :   Actual:  0 predicted:  0
109 out of  209 :   Actual:  0 predicted:  0
110 out of  209 :   Actual:  0 predicted:  1
111 out of  209 :   Actual:  1 predicted:  0
112 out of  209 :   Actual:  0 predicted:  1
113 out of  209 :   Actual:  0 predicted:  1
114 out of  209 :   Actual:  1 predicted:  1
115 out of  209 :   Actual:  0 predicted:  0
116 out of  209 :   Actual:  1 predicted:  0
117 out of  209 :   Actual:  0 predicted:  1
118 out of  209 :   Actual:  0 predicted:  1
119 out of  209 :   Actual:  0 predicted:  0
120 out of  209 :   Actual:  1 predicted:  0
121 out of  209 :   Actual:  1 predicted:  0
122 out of  209 :   Actual:  1 predicted:  0
123 out of  209 :   Actual:  1 predicted:  1
124 out of  209 :   Actual:  0 predicted:  1
125 out of  209 :   Actual:  1 predicted:  0
126 out of  209 :   Actual:  0 predicted:  0
127 out of  209 :   Actual:  1 predicted:  0
128 out of  209 :   Actual:  1 predicted:  0
129 out of  209 :   Actual:  0 predicted:  1
130 out of  209 :   Actual:  0 predicted:  1
131 out of  209 :   Actual:  0 predicted:  0
132 out of  209 :   Actual:  1 predicted:  0
133 out of  209 :   Actual:  0 predicted:  0
134 out of  209 :   Actual:  0 predicted:  0
135 out of  209 :   Actual:  0 predicted:  0
136 out of  209 :   Actual:  1 predicted:  0
137 out of  209 :   Actual:  0 predicted:  0
138 out of  209 :   Actual:  0 predicted:  0
139 out of  209 :   Actual:  1 predicted:  0
140 out of  209 :   Actual:  0 predicted:  1
141 out of  209 :   Actual:  1 predicted:  0
142 out of  209 :   Actual:  0 predicted:  0
143 out of  209 :   Actual:  0 predicted:  0
144 out of  209 :   Actual:  1 predicted:  1
145 out of  209 :   Actual:  0 predicted:  0
146 out of  209 :   Actual:  0 predicted:  0
147 out of  209 :   Actual:  1 predicted:  1
148 out of  209 :   Actual:  1 predicted:  0
149 out of  209 :   Actual:  1 predicted:  0
150 out of  209 :   Actual:  0 predicted:  0
151 out of  209 :   Actual:  0 predicted:  0
152 out of  209 :   Actual:  0 predicted:  0
153 out of  209 :   Actual:  0 predicted:  1
154 out of  209 :   Actual:  0 predicted:  1
155 out of  209 :   Actual:  0 predicted:  0
156 out of  209 :   Actual:  0 predicted:  0
157 out of  209 :   Actual:  1 predicted:  1
158 out of  209 :   Actual:  0 predicted:  1
159 out of  209 :   Actual:  0 predicted:  1
160 out of  209 :   Actual:  0 predicted:  0
161 out of  209 :   Actual:  0 predicted:  0
162 out of  209 :   Actual:  0 predicted:  1
163 out of  209 :   Actual:  0 predicted:  0
164 out of  209 :   Actual:  1 predicted:  0
165 out of  209 :   Actual:  1 predicted:  1
166 out of  209 :   Actual:  0 predicted:  0
167 out of  209 :   Actual:  1 predicted:  0
168 out of  209 :   Actual:  0 predicted:  1
169 out of  209 :   Actual:  0 predicted:  1
170 out of  209 :   Actual:  0 predicted:  1
171 out of  209 :   Actual:  1 predicted:  0
172 out of  209 :   Actual:  0 predicted:  0
173 out of  209 :   Actual:  0 predicted:  0
174 out of  209 :   Actual:  0 predicted:  1
175 out of  209 :   Actual:  0 predicted:  0
176 out of  209 :   Actual:  1 predicted:  0
177 out of  209 :   Actual:  0 predicted:  1
178 out of  209 :   Actual:  1 predicted:  1
179 out of  209 :   Actual:  0 predicted:  0
180 out of  209 :   Actual:  1 predicted:  1
181 out of  209 :   Actual:  0 predicted:  0
182 out of  209 :   Actual:  0 predicted:  0
183 out of  209 :   Actual:  0 predicted:  1
184 out of  209 :   Actual:  0 predicted:  0
185 out of  209 :   Actual:  0 predicted:  1
186 out of  209 :   Actual:  1 predicted:  1
187 out of  209 :   Actual:  0 predicted:  1
188 out of  209 :   Actual:  0 predicted:  0
189 out of  209 :   Actual:  0 predicted:  0
190 out of  209 :   Actual:  0 predicted:  1
191 out of  209 :   Actual:  0 predicted:  0
192 out of  209 :   Actual:  1 predicted:  1
193 out of  209 :   Actual:  0 predicted:  1
194 out of  209 :   Actual:  0 predicted:  0
195 out of  209 :   Actual:  1 predicted:  0
196 out of  209 :   Actual:  0 predicted:  0
197 out of  209 :   Actual:  0 predicted:  1
198 out of  209 :   Actual:  0 predicted:  1
199 out of  209 :   Actual:  0 predicted:  0
200 out of  209 :   Actual:  1 predicted:  0
201 out of  209 :   Actual:  0 predicted:  0
202 out of  209 :   Actual:  1 predicted:  0
203 out of  209 :   Actual:  0 predicted:  1
204 out of  209 :   Actual:  1 predicted:  1
205 out of  209 :   Actual:  0 predicted:  0
206 out of  209 :   Actual:  0 predicted:  1
207 out of  209 :   Actual:  1 predicted:  0
208 out of  209 :   Actual:  0 predicted:  0
209 out of  209 :   Actual:  1 predicted:  1
Accuracy score:  52.63